/public/hot

/public/images/vendor
/public/js/main.js
/public/js/bundle/
/node_modules
/public/hot
/public/storage/*.key
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitkeep
/vendor
.env
.env.backup
composer.lock
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log